.parallax-meat {
    position: relative;
    opacity: 0.8;
    min-height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.beef {
    background-image: url("/img/beef-chunks-with-ingredients-served-table.jpg");
}

.pork {
    background-image: url("/img/raw-meat-with-ingredients-cooking.jpg");
}

.pork span {
    float: left;
}

.chicken {
    background-image: url("/img/raw-chicken-breast-dark-background.jpg");
}

.beef-text,
.pork-text,
.chicken-text {
    position: absolute;
    top: 50%;
    width: 100%;
    color: #89726E;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.beef-value,
.pork-value,
.chicken-value {
    padding: 0 3rem;
    font-size: 3rem;
    font-weight: 700;
    float: right;
}
