/*ПАРАЛЛАКС ЭФФЕКТ*/
.parallax{
    position: relative;
    opacity: 0.7;
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.charcoal {
    background-image: url("/img/charcoal.jpg");
}

.vudu {
    background-image: url("/img/vudu.png");
}
.ghost {
    background-image: url("/img/Duhi.jpeg");
}

.reservation{
    background-image: url("/img/reservation.jpg");
}

.cowboy{
    background-image: url("/img/cowboy.jpg");
}

.burning{
    background-image: url("/img/burning-charcoals.jpg");
}

.spherical{
    background-image: url("/img/spherical.jpg");
}

.text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-shadow: 4px 4px 7px rgba(0,0,0,0.2);
}
.border {
    padding: 0 1rem;
}

@media (max-width: 560px) {
    .text {
        font-size: 30px;
    }
}
