@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-accent-color: rgba(180, 37, 27, 0.96);
    --main-headind-color: #FFF5F1;
    --header__link-color: #BFA6A2;
    --main-text-color: #c0aba7;
    --list-text-color: #c5b5b3;
    --wrapper-backgrpund-color: rgba(11, 11, 10, 0.92);
    --main-header-bg-color: rgba(2, 2, 2, 1);
    --button-text-color: #F3EED9;
    --paragraph-text-color: #cccccc;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1rem;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

}
/*Создаем плашку сверху*/
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-header-bg-color);
    z-index: 2;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    animation-duration: 2.5s;
    animation-name: slide-in;
}

@keyframes slide-in {
    from {
        margin-right: 100%;
        width: 300%;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}

.header__logo {
    flex: 0 0 60px;
    overflow: hidden;
    position: relative;
    margin-left: 1em;
    z-index: 3;
}

.header__logo img {
    display: block;
    max-width: 100%;
    width: 44px;
    margin-left: 1em;
}

.header__body h4 {
    position: absolute;
    margin-left: 5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 600;
    color: var(--main-headind-color);
    z-index: 6;
}

.header__body h4 span {
    font-size: 0.8em;
    font-weight: 500;
    color: var(--main-accent-color);
}

.header__burger {
    display: none;
}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list li {
    list-style: none;
    margin: 0 0 0 10px;
}

.header__link {
    color: var(--header__link-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
    text-decoration: none;
    height: 1.4rem;
    transition: 0.3s ease;
    letter-spacing: 0.1em;
    margin-right: 3em;
    padding: 6px 25px;
}

.header__link:hover {
    background-color: rgb(46, 45, 43, 0.3);
    color: var(--main-accent-color);
    border-radius: 3px;
    box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.25);
}

/*Кнопка скрола вверх*/
#topBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-headind-color);
    box-shadow: 3px 11px 25px -11px rgba(0, 0, 0, 0.75);
    color: #201F1E99;
    background-color: var(--main-header-bg-color);
    cursor: pointer;
}

.fa-arrow-up {
    color: var(--main-headind-color);
}

svg {
    position: absolute;
    bottom: 50px;
    width: 50px;
    right: 10%;

    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: arrowAnimation;
}


@media (max-width: 1280px) {
    .header__logo {
        flex: 0 0 50px;
    }

    .header__logo img {
        margin-left: 0;
    }

    .header__body h4 {
        padding-left: 2em;
        font-size: 0.9em;
    }
    .header__body h4 span {
        font-size: 0.7em;
    }

    .header__list li {
        margin: 0 0 0 15px;
    }

    .header__link {
        font-size: 0.7em;
        padding: 5px 8px;
    }
}

@media (max-width: 960px) {
    .header__body {
        height: 70px;
    }

    .header__logo {
        flex: 0 0 50px;
    }

    .header__logo img {
        margin-left: 0;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin-right: 1em;
        z-index: 3;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: var(--button-text-color);
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger span {
        position: absolute;
        background-color: var(--button-text-color);
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(1, 1, 1, 0.9);
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block;
        padding-top: 3em;
        text-align: center;
    }

    .header__list li {
        margin: 0 0 20px 0;
    }
}
