@import "shared.css";

.wrapper {
    /*background-image: linear-gradient(to bottom, #2e2423, #2b2221, #281f1e, #261d1c, #231b1a);*/
    background-image: url("/img/main page background4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header:before{
    background-color: rgba(39, 30, 29, 0.9);
}
.content {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    width: clamp(600px, 40%, 500px);
    margin: 6rem 2rem;
    padding: 2rem;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    background: rgba(39, 30, 29, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    color: #ab9692;
}
.content__info h2 {
    color: #BF433B;
    font-size: 4em;

    font-weight: 800;
    letter-spacing: 0.05em;
    line-height: 1em;
}
.content__info h2 span {
    color: #FFF5F1;
    font-size: 0.3em;
    font-weight: 300;
    letter-spacing: 2px;
}
.content__info p {
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 3em;
    text-indent: 1em;
}
.content__info-button {
    color: #F3EED9;
    border: 1px solid #F3EED9;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2rem;
    padding: 0.8em 1.6em;
    border-radius: 0.2rem;
    text-overflow: ellipsis;
    transition: 0.3s;
    transition-property: background;
    box-shadow:
            0 0.25em 0.4em rgba(50, 50, 93, .11),
            0 0.1em 0.25em rgba(0, 0, 0, .08);
}
.content__info-button:hover {
    background: #BF433B;
}
.footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    padding: 1em 0;
    z-index: 50;
    font-size: 0.8rem;
}

.footer__media-icons {
    margin: 0.8em 0 1em 2em;
    text-align: left;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.footer__media-icons a {
    margin-right: 10px;
    z-index: 3;
}

.footer__media-icons img:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in;
}

@media (max-width: 1340px) {
    .content {
        width: clamp(500px, 50%, 400px);
        font-size: 0.9rem;
    }
}

@media (max-width: 1280px) {
    .header__logo {
        flex: 0 0 50px;
    }

    .header__body h4 {
        font-size: 0.9em;
    }
    .header__body h4 span {
        font-size: 0.7em;
    }

    .header__list li {

        margin: 0 0 0 15px;
    }

    .header__link {
        font-size: 0.6em;
        height: 1.4rem;
        transition: 0.3s ease;
        padding: 5px 18px;
    }
}

@media (max-width: 960px) {
    .header__body {
        height: 70px;
    }
    .header__logo {
        flex: 0 0 50px;
    }
    .header__logo img {
        margin-left: 0;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin-right: 1em;
        z-index: 3;
    }
    .header__burger:before,
    .header__burger:after,
    .header__burger span {
        content: '';
        background-color: #F3EED9;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger span {
        top: 9px;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(1, 1, 1, 0.9);
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: block;
        padding-top: 3em;

    }
    .header__list li {
        margin: 0 0 20px 0;
    }
    .header__link {
        font-size: 0.8em;
    }
    .content {
        max-width: 80%;
        padding: 1rem;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }
    .content__info h2 {
        font-size: 2em;
        line-height: 0.8em;
        text-align: center;
        font-weight: 900;
        letter-spacing: 0.06em;
        margin-bottom: 0.5em;
    }
    .content__info h2 span {
        color: #fdf7f5;
        font-size: 0.5em;
        line-height: 0.8em;
    }
    .content__info p {
        font-size: 0.8em;
        font-weight: 300;
        margin-bottom: 2rem;
        color: #cccccc;
    }
    .content__info-button {
        width: clamp(200px, 50%, 400px);
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        font-weight: 700;
        letter-spacing: 0.1rem;
        padding: 0.8rem;
        border-radius: 0.2rem;
        text-overflow: ellipsis;
        transition: 0.3s;
        transition-property: background;
        box-shadow:
                0 0.25em 0.4em rgba(50, 50, 93, .11),
                0 0.1em 0.25em rgba(0, 0, 0, .08);
    }
    .footer {
        max-width: 95%;
    }
    .footer__media-icons {
        text-align: center;
    }

    .footer__media-icons a {
        margin-right: 10px;
        z-index: 3;
    }
}


