@import "../shared.css";

.wrapper {
    background-image: url("../img/roasted-shrimps-pan-table.jpg");
    background-position: center;
    background-size: cover;
   }

.header:before {
    background-color: rgba(39, 30, 29, 0.9);
}

.section {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    font-size: 1rem;
    text-align: center;
    width: 100%;
}

.section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
}

.shrimp,
.squid {
    padding: 1em;
    margin-left: 1em;
    width: 65%;
    text-align: justify;
    border-radius: 8px;
    background-color: rgba(39, 30, 29, 0.8);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

h2 {
    padding: 10px 0;
    color: #BF433B;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
}

.shrimp-ingredients-heading,
.shrimp-directions-heading,
.squid-ingredients-heading,
.squid-directions-heading {
    font-size: 0.8em;
    font-weight: 300;
    color: rgba(254, 196, 0, 0.59);
}

.shrimp-ingredients,
.shrimp-directions,
.squid-ingredients,
.squid-directions {
    display: inline-block;
    padding: 0 0 0.5em 0.5em;
    text-align: left;
    color: #d3cfbd;
}

.shrimp-ingredients-list,
.shrimp-directions-list,
.squid-ingredients-list,
.squid-directions-list {
    display: inline;
    padding: 1em;
    font-size: 0.7em;
    font-weight: 400;
    text-align: justify;
}

.shrimp-ingredients-list li,
.shrimp-directions-list li,
.squid-ingredients-list li,
.squid-directions-list li {
    margin-left: 1em;
    margin-bottom: 0.2em;
    color: #c5b5b3;
}

.shrimp-directions,
.squid-directions {
    margin-left: 1em;
}

.squid {
    margin-bottom: 1em;
}

@media (max-width: 1024px) {
    .shrimp,
    .squid {
        width: 95%;
    }

    .shrimp-ingredients,
    .shrimp-directions,
    .squid-ingredients,
    .squid-directions {
        margin: 0;
        padding: 0;
    }

    body .lock {
        overflow: hidden;
    }

    .header__body {
        height: 70px;
    }

    .header__logo {
        flex: 0 0 50px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin-right: 1em;
        z-index: 3;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #F3EED9;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger span {
        position: absolute;
        background-color: #F3EED9;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(1, 1, 1, 0.9);
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block;
        padding-top: 3em;
        text-align: center;
    }

    .header__list li {
        margin: 0 0 20px 0;
    }
}

@media (max-width: 600px) {
    .section {
        font-size: 0.9em;
    }

    .shrimp,
    .squid {
        display: flex;
        flex-direction: column;
        width: 95%;
    }
}

