@import "../shared.css";

.wrapper {
    background-color: var(--wrapper-backgrpund-color);
}

.section-container {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4em;
}

.section-container.animation-class {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

}

.vegetables-tomato {
    background-image: url("../img/bbq-tomatoes-wooden-charcoal-flat-lay.jpg");
}

.vegetables-pepper {
    background-image: url("../img/healthy-tasty-vegetables-grilled-pan.jpg");
}

.vegetables-zucchini {
    background-image: url("../img/zucchini.jpg");
}

.vegetables-tomato,
.vegetables-pepper,
.vegetables-zucchini {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.tomato,
.pepper,
.zucchini {
    padding: 2em;
    margin: 2em;
    width: 60%;
    text-align: justify;
    border-radius: 8px;
    background-color: rgba(19, 17, 16, 0.8);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

h2 {
    padding: 10px 0;
    color: var(--main-accent-color);
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
}

.tomato-ingredients-heading,
.tomato-directions-heading,
.pepper-ingredients-heading,
.pepper-directions-heading,
.zucchini-ingredients-heading,
.zucchini-directions-heading {
    font-size: 1.2em;
    font-weight: 300;
    text-indent: 1em;
    color: rgba(254, 196, 0, 0.59);
}

.tomato-ingredients,
.tomato-directions,
.pepper-ingredients,
.pepper-directions,
.zucchini-ingredients,
.zucchini-directions {
    text-align: left;
    color: #d3cfbd;
}

.tomato-ingredients-list,
.tomato-directions-list,
.pepper-ingredients-list,
.pepper-directions-list,
.zucchini-ingredients-list,
.zucchini-directions-list {
    padding: 1em;
    font-size: 1em;
    font-weight: 200;
    text-align: justify;
}

.tomato-ingredients-list li,
.tomato-directions-list li,
.pepper-ingredients-list li,
.pepper-directions-list li,
.zucchini-ingredients-list li,
.zucchini-directions-list li {
    margin-bottom: 0.2em;
    color: var(--list-text-color);
}

.zucchini {
    margin-bottom: 1em;
}

@media (max-width: 1300px) {
    .tomato,
    .pepper,
    .zucchini {
        display: flex;
        flex-direction: column;
        width: 95%;
        text-align: justify;
    }

    .tomato-ingredients,
    .tomato-directions,
    .pepper-ingredients,
    .pepper-directions,
    .zucchini-ingredients,
    .zucchini-directions {
        margin: 0;
        padding: 0;
    }
}
