/*ПАРАЛЛАКС ЭФФЕКТ*/
.parallax{
    position: relative;
    opacity: 0.7;
    min-height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--wrapper-backgrpund-color);
}

.charcoal {
    background-image: url("/img/charcoal.jpg");
}

.vudu {
    background-image: url("/img/vudu.png");
}
.ghost {
    background-image: url("/img/Duhi.jpeg");
}

.reservation{
    background-image: url("/img/reservation.jpg");
}

.cowboy{
    background-image: url("/img/cowboy.jpg");
}

.burning{
    background-image: url("/img/burning-charcoals.jpg");
}

.spherical{
    background-image: url("/img/spherical.jpg");
}

.text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: var(--main-headind-color);
    font-size: 3.5em;
    font-weight: 200;
    line-height: 1em;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.4);
}

.text-value {
    padding: 0 1rem;
    color: var(--main-headind-color);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    z-index: 20;
    animation-name: scale-out;
    animation-duration: 0.8s;
}

@keyframes scale-out {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 560px) {
    .parallax {
        min-height: 300px;
    }

    .text {
        font-size: 35px;
        font-weight: 400;
    }
}
