@import "../shared.css";

html {
    overflow-x: hidden;
}

.wrapper {
    background-color: var(--wrapper-backgrpund-color);
}

.secrets__item-img {
    object-fit: cover;
    width: 40%;
}

.secrets__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-bottom: 2px solid #1d1c1c;
    border-top: 3px solid black;
    font-size: 1rem;
    background-color: var(--wrapper-backgrpund-color);
}

.secrets__item-content-name {
    padding: 1em;
    font-size: 2em;
    font-weight: 500;
    color: var(--main-accent-color);
    text-align: center;
}

.secrets__item-content-info p {
    padding: 1em;
    text-align: justify;
    text-indent: 1em;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--button-text-color);
}

.secrets__item {
    transform: translateX(400%);
    transition: transform 1.8s linear;
}

.secrets__item:nth-of-type(even) {
    transform: translateX(-400%);
}

.secrets__item.show {
    transform: translateX(0);
}

@media (max-width: 1024px) {
    body.lock {
        overflow: hidden; /*блокирует прокрутку страницы при открытом
        бургер-меню*/
    }

    .secrets__item {
        width: 100%;
        height: auto;
        display: inline-block;
        padding: 2em;
        margin: 0 auto;
    }

    .secrets__item-content-name {
        width: 70%;
        margin: 0 auto;
    }

    .secrets__item img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
    }
}

@media (max-width: 560px) {
    .secrets__item img {
        width: 100%;
    }

    .secrets__item {
        padding: 1em 0;
    }

    .secrets__item-content-info p {
        padding: 0.5em;
        font-weight: 200;
        color: var(--button-text-color);
    }

    .secrets__item-content-name {
        width: 95%;
        padding: 0.5em;
        line-height: 1em;
    }
}
