@import "../shared.css";

.wrapper {
    background-image: linear-gradient(to bottom, #000000, #080808, #0e0e0e, #141414, #181818, #1a1a1a, #1d1c1d, #1f1e1f, #201e1f, #211f1f, #221f1f, #22201f);
}

.secrets {
    margin-top: 7em;
}

.secrets__item img {
    width: 50%;
}

.secrets__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    padding: 2em;
    background-color: rgba(19, 17, 16, 1);
}

.secrets__item-content-name {
    padding: 1em;
    color: var(--main-accent-color);
    text-align: center;
}

.secrets__item-content-info p {
    padding: 1em;
    text-align: justify;
    text-indent: 1em;
    color: var(--button-text-color);
}

.secrets__item {
    transform: translateX(400%);
    transition: transform 1.8s linear;
}

.secrets__item:nth-of-type(even) {
    transform: translateX(-400%);
}

.secrets__item.show {
    transform: translateX(0);
}

@media (max-width: 960px) {
    body.lock {
        overflow: hidden; /*блокирует прокрутку страницы при открытом
        бургер-меню*/
    }

    .secrets__item {
        width: 100%;
        display: inline-block;
        padding: 2em;
        margin: 0 auto;
    }

    .secrets__item img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 60%;
    }
}
