@import "../shared.css";

.wrapper {
    background-image: linear-gradient(to bottom, #2b2221, #281f1e, #261d1c, #231b1a);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.header:before {
    background-color: rgba(39, 30, 29, 0.9);
}

.slider {
    margin-top: 7em;
    padding: 0 60px;
}

.slider__item img {
    width: 50%;
}

.slider__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    /*margin: 0 auto;*/
}


.slider__item-content-name {
    padding: 1em;
    color: #BF433B;
    text-align: center;
}

.slider__item-content-info p {
    padding: 1em;
    text-indent: 1em;
    color: #F3EED9;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -110px 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;

}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url("../img/arrows/angle-left-solid.svg") 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url("../img/arrows/angle-right-solid.svg") 0 0 / 100% no-repeat;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #F3EED9;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #F3EED9;
}

@media (max-width: 960px) {
    body .lock {
        overflow: hidden; /*блокирует прокрутку страницы при открытом
        бургер-меню*/
    }

    .header__body {
        height: 70px;
    }

    .header__logo {
        flex: 0 0 50px;
    }

    .header__logo img {
        margin-left: 0;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin-right: 1em;
        z-index: 3;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #F3EED9;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger span {
        position: absolute;
        background-color: #F3EED9;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(1, 1, 1, 0.9);
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block;
        padding-top: 3em;
        text-align: center;
    }

    .header__list li {
        margin: 0 0 20px 0;
    }

    .slider {
        margin-top: 3em;
    }

    .slider__item {
        display: inline-block;
        padding: 2em;
        /*margin: 0 auto;*/
    }

    .slider__item img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 60%;
    }
}