@import "../shared.css";

.wrapper {
    background-image: linear-gradient(to bottom, #2b2221, #281f1e, #261d1c, #231b1a);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.header:before {
    background-color: rgba(39, 30, 29, 0.9);
}

.slider {
    margin-top: 7em;
    padding: 0 60px;
}

.slider__item img {
    height: 60vh;
}

.slider__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    /*margin: 0 auto;*/
}


.slider__item-content-name {
    padding: 1em;
    color: #BF433B;
    text-align: center;
}

.slider__item-content-info p {
    padding: 1em;
    text-indent: 1em;
    color: #F3EED9;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -110px 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;

}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url("../img/arrows/angle-left-solid.svg") 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url("../img/arrows/angle-right-solid.svg") 0 0 / 100% no-repeat;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #F3EED9;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #F3EED9;
}
